h1 {
    color: red ;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    }

#search-box {
    margin-left: 7%;
    width: 50%;
    alignment: center;
    }

.date {
    margin-left: 7%;
    alignment: center;
    }

.table {
    max-height: 490px;
    max-width: 93.5%;
    overflow-x: hidden;
    display: block;
    margin-left: 7%;
    }

td {
    max-width: 400px;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

.td-crit {
    max-width: 500px;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: normal;
    }




