<!doctype html>
<html lang="en">
<head>
    <title> United States of Browsers </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>

<body>
<div class="container-fluid">

    <h1 class="text-right"> <a id="app-name" href="/">United States of Browsers </a> </h1>
    <div id="search-section">
    <form action="{{ url_for('search') }}" method="GET">
        <input id="search-box" type="text" name="query" placeholder="Enter search query here">
        <button class="btn btn-primary" type="submit">Search Browser History</button>
        <!--<br>-->
        <div class="date">

            <label for="date-from">from:</label>
            <input type="date" id="date-from" name="date-from">

            <label for="date-to">to:</label>
            <input type="date" id="date-to" name="date-to">
        </div>
    </form>
    </div>

    <table class="table htable table-responsive-s table-striped table-hover table-sm">
        <caption>Web history across all local browsers and profiles.</caption>
        <thead>
        <tr>
            <!--<th scope="col"> Address</th>-->
            <th scope="col"> Last Visit</th>
            <th scope="col" class="right-text"> Visits</th>
            <th scope="col"> Page Title</th>
            <!--<th scope="col"> Description </th>-->
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
        <tr>
            <!--<td>{{ entry['url'] }}</td>-->
            <td>{{ entry['last_visit_readable'] }}</td>
            <td class="right-text">{{ entry['visit_count'] }}</td>
            <td class="td-crit"> <a href="{{ entry['url'] }}">{{ entry['title'] }}</a> </td>
            <!--<td>{{ entry['description'] }}</td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
</body>
</html>

