<!doctype html>
<html lang="en">
<head>
    <title> United States of Browsers </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>

<body>
<div class="container-fluid">

    <h1 class="text-right"> United States of Browsers </h1>
    <form action="#">
        <input id="search-box" type="text" placeholder="Enter search query here">
        <button class="btn btn-primary" type="submit">Search Firefox History</button>
        <!--<br>-->
        <div class="date">

            <label for="date-from">from:</label>
            <input type="date" id="date-from">

            <label for="date-to">to:</label>
            <input type="date" id="date-to">
        </div>
    </form>

    <table class="table htable table-responsive-s table-striped table-hover table-sm">
        <caption>Firefox broswer history across all profiles.</caption>
        <thead>
        <tr>
            <th scope="col"> Page Title</th>
            <th scope="col"> Address</th>
            <th scope="col"> Last Visit</th>
            <th scope="col"> Visits</th>
            <!--<th scope="col"> Description </th>-->
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
        <tr>
            <td class="td-crit">{{ entry['title'] }}</td>
            <td>{{ entry['url'] }}</td>
            <td>{{ entry['last_visit_date'] }}</td>
            <td>{{ entry['visit_count'] }}</td>
            <!--<td>{{ entry['description'] }}</td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
</body>
</html>

