<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firefox History Entries</title>
</head>
<body>
<hr>
    <table>
        <tr>
            <th>url</th>
            <th>title</th>
            <th>visit_count</th>
            <th>last_visit_date</th>
            <th>description</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry['url'] }}</td>
            <td>{{ entry['title'] }}</td>
            <td>{{ entry['visit_count'] }}</td>
            <td>{{ entry['last_visit_date'] }}</td>
            <td>{{ entry['description'] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
