<!doctype html>
<html lang = "en">
    <head>
        <title> United States of Browsers </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=yes">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    </head>    
    <body>
    <style>
        h1 {
            color:red;
            font-family: Roboto, sans-serif;
            font-size: 12px;
        }


    </style>

    <div class="container-fluid">


        <h1 class="text-right"> United States of Browsers </h1>
        <h2 class="text-center"> Firefox History </h2>
        <p>  </p>
        <table>
            <tr>
                <th> title </th>
                <th> url </th>
                <th> visit_count </th>
                <th> description </th>
            </tr>


    </div>
    </body>
</html>
